/* --------------------------- COLORS ----------------------------- */

$red: #D76556;
$background-blue: #2D394E;
$dark-blue: #3E6786;
$blue: #81A5C5;
$light-blue: #EAEEF2;
$white: #FFFFFF;

$carousel-brightness: 60%;
$carousel-blur: 1.5px;
$carousel-shadow: 3px 3px 3px rgba(0, 0, 0, .3);

/* --------------------------- MIXIMS ----------------------------- */

@mixin section($color) {
    height: 100%;
    background-color: $color;
    align-items: center;
}

/* --------------------------- GENERAL ----------------------------- */

* {
    font-family: 'Roboto', sans-serif;

    &:focus {
        outline: 0;
        outline: none;
    }
}

html {
    scroll-behavior: smooth;
}

.color-white {
    a {
        color: white;
    }
}

.color-blue {
    a {
        color: $background-blue;
    }
}

.background-dark-blue {
    background-color: $dark-blue;
}

.background-light-blue {
    background-color: $light-blue;
}

/* --------------------------- NAVBAR ----------------------------- */

nav {
    #logo:hover {
        transform: rotate(360deg);
    }

    h2 {
        padding-left: 10px;
        color: $red;
        font-weight: bold;
    }

    a {
        color: white;
        transition: .5s;

        &:hover {
            color: $red;
            text-decoration: none;
        }
    }

    .nav-item {
        padding: 0px 15px 0px 15px;
    }

    .nav-link {
        position: relative;

        &:before {
            content: "";
            position: absolute;
            width: 100%;
            max-width: 100px;
            height: 2px;
            bottom: 6px;
            left: 0;
            background-color: $red;
            transform: scaleX(0);
            transition: all .3s ease-in-out;
            opacity: 0;
        }

        &:hover:before {
            opacity: 1;
            left: 0;
            transform: scaleX(1);
        }
    }
}

/* --------------------------- HOME ----------------------------- */

#home-background {
    background: url('/images/background.png');
}

#home-page {
    @include section(rgba(45, 57, 78, .90));

    h1 {
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 90px;
        color: $blue;
    }

    h3 {
        font-weight: lighter;
        font-size: 30;
        color: $light-blue;
    }

}


/* --------------------------- ABOUT ME ----------------------------- */

#about-me {
    @include section($dark-blue);
    color: white;

    #portrait {
        width: 25vw;
        filter: drop-shadow(7px 7px 4px $background-blue);
    }

    #signature {
        width: 7vw;
    }
}

/* --------------------------- PROJECTS ----------------------------- */

#projects {
    @include section($light-blue);

    h1 {
        color: $background-blue;
    }

    .carousel {
        margin-top: 10px;
        height: 60%;
    }

    .carousel-box {
        position: relative;
        padding: 20px 0 20px 0;
        transition: .3s;

        &:hover {
            .carousel-item {
                filter: brightness($carousel-brightness) blur($carousel-blur);
            }

            .carousel-header {
                display: inline;
            }

            .carousel-subheader {
                display: inline;
            }
        }
    }

    .carousel-item {
        padding: 0 10px 0 10px;
        border-radius: 50px;
        height: 100%;
        object-fit: cover;
        transition: .5s;
    }

    .carousel-text-box {
        color: white;
        position: absolute;
        width: 90%;
        top: 40px;
        left: 5%;
    }

    .carousel-header {
        display: none;
        padding-left: 10px;
        transition-delay: 1s;
        transition: .5s;
    }

    .carousel-subheader {
        display: none;
        padding-left: 10px;
        transition-delay: 1s;
        transition: .5s;
    }

    /* --------------------------- SLICK CAROUSEL ----------------------------- */

    .slick-dots li {
        button {
            &:before {
                color: $red;
                font-size: 15px;
            }
        }

        &.slick-active button:before {
            color: $red;
        }
    }

    .slick-next,
    .slick-prev {
        &:before {
            font-size: 40px;
            color: $red
        }
    }

    .slick-prev {
        left: -90px;

        [dir="rtl"] & {
            left: auto;
            right: -90px;
        }
    }

    .slick-next {
        right: -70px;

        [dir="rtl"] & {
            left: -70px;
            right: auto;
        }
    }

}

/* --------------------------- FEATHERLIGHT MODALS ----------------------------- */

.modal-image {
    width: 100%;
}

.hide-modal {
    display: none;
    padding: 5px 10px 0px 10px;

    h4 {
        color: $red;
    }

    p {
        font-size: large;
    }

    .btn {
        border: none;
        width: 35%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .btn-primary {
        background-color: $dark-blue;
        transition: all .3s;
    }

    .btn-secondary {
        background-color: $red;
    }

    a {
        text-decoration: none;
        color: white;
    }
}

.featherlight-content {
    border-radius: 5px;
}

.featherlight .featherlight-close-icon {
    top: 10px;
    right: 10px;
    font-weight: bolder;
    color: red;
    font-size: xx-large;
}

/* --------------------------- CONTACT ----------------------------- */

#contact {
    @include section($background-blue);

    color: white;
    font-weight: normal;

    a {
        color: white;

        &:hover {
            text-decoration: none;
            color: $red;

            .icon {
                transform: scale(1.2);
            }
        }

        transition: all .3s;
    }

    .icon {
        width: 35px;
        height: 35px;
        margin-right: 20px;
        transition: all .5s;
    }

    .contact-item {
        margin-bottom: 10px;
    }

}