/* --------------------------- COLORS ----------------------------- */
/* --------------------------- MIXIMS ----------------------------- */
/* --------------------------- GENERAL ----------------------------- */
* {
  font-family: 'Roboto', sans-serif;
}

*:focus {
  outline: 0;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

.color-white a {
  color: white;
}

.color-blue a {
  color: #2D394E;
}

/* --------------------------- NAVBAR ----------------------------- */
nav h2 {
  padding-left: 10px;
  color: #D76556;
  font-weight: bold;
}

nav a {
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

nav a:hover {
  color: #D76556;
}

nav .nav-item {
  padding: 0px 15px 0px 15px;
}

/* --------------------------- HOME ----------------------------- */
#home-background {
  background: url("/images/background.png");
}

#home-page {
  height: 100%;
  background-color: rgba(45, 57, 78, 0.9);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home-page h1 {
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 90px;
  color: #81A5C5;
}

#home-page h3 {
  font-weight: lighter;
  font-size: 30;
  color: #EAEEF2;
}

/* --------------------------- ABOUT ME ----------------------------- */
#about-me {
  height: 100%;
  background-color: #3E6786;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

#about-me #portrait {
  width: 25vw;
  -webkit-filter: drop-shadow(7px 7px 4px #2D394E);
          filter: drop-shadow(7px 7px 4px #2D394E);
}

#about-me #signature {
  width: 7vw;
}

/* --------------------------- PROJECTS ----------------------------- */
#projects {
  height: 100%;
  background-color: #EAEEF2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* --------------------------- SLICK CAROUSEL ----------------------------- */
}

#projects h1 {
  color: #2D394E;
}

#projects .carousel {
  margin-top: 10px;
  height: 60%;
}

#projects .carousel-box {
  position: relative;
  padding: 20px 0 20px 0;
  -webkit-transition: .3s;
  transition: .3s;
}

#projects .carousel-box:hover .carousel-item {
  -webkit-filter: brightness(60%) blur(1.5px);
          filter: brightness(60%) blur(1.5px);
}

#projects .carousel-box:hover .carousel-header {
  display: inline;
}

#projects .carousel-box:hover .carousel-subheader {
  display: inline;
}

#projects .carousel-item {
  padding: 0 10px 0 10px;
  border-radius: 27px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .5s;
  transition: .5s;
}

#projects .carousel-text-box {
  color: white;
  position: absolute;
  width: 90%;
  top: 40px;
  left: 5%;
}

#projects .carousel-header {
  display: none;
  padding-left: 10px;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  -webkit-transition: .5s;
  transition: .5s;
}

#projects .carousel-subheader {
  display: none;
  padding-left: 10px;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  -webkit-transition: .5s;
  transition: .5s;
}

#projects .slick-dots li button:before {
  color: #D76556;
  font-size: 15px;
}

#projects .slick-dots li.slick-active button:before {
  color: #D76556;
}

#projects .slick-next:before, #projects .slick-prev:before {
  font-size: 40px;
  color: #D76556;
}

#projects .slick-prev {
  left: -90px;
}

[dir="rtl"] #projects .slick-prev {
  left: auto;
  right: -90px;
}

#projects .slick-next {
  right: -70px;
}

[dir="rtl"] #projects .slick-next {
  left: -70px;
  right: auto;
}

/* --------------------------- FEATHERLIGHT MODALS ----------------------------- */
.modal-image {
  border-radius: 7px;
  width: 100%;
}

.hide-modal {
  display: none;
  padding: 10px 20px 5px 20px;
}

.hide-modal h5 {
  color: #D76556;
}

.hide-modal .btn {
  border: none;
  width: 35%;
  margin-left: 10px;
  margin-right: 10px;
}

.hide-modal .btn-primary {
  background-color: #3E6786;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.hide-modal .btn-secondary {
  background-color: #D76556;
}

.hide-modal a {
  text-decoration: none;
  color: white;
}

.featherlight-content {
  border-radius: 5px;
}

.featherlight .featherlight-close-icon {
  top: 10px;
  right: 10px;
  font-weight: bolder;
}

/* --------------------------- RESUME ----------------------------- */
#resume {
  height: 100%;
  background-color: #2D394E;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#resume p {
  color: #D76556;
  font-size: 20px;
  font-weight: thin;
}

#resume embed {
  border-radius: 15px;
  width: 80%;
  height: 70%;
}

#resume-text {
  padding-top: 80px;
  padding-left: 80px;
}

#resume-page {
  height: 100%;
  background-color: #2D394E;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#resume-page embed {
  height: 85%;
  width: 50%;
}

/* --------------------------- CONTACT ----------------------------- */
#contact {
  height: 100%;
  background-color: #2D394E;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: normal;
}

#contact a {
  color: white;
}

#contact a:hover {
  text-decoration: none;
}

#contact .icon {
  width: 35px;
  height: 35px;
  margin-right: 20px;
}

#contact .contact-item {
  margin-bottom: 10px;
}
/*# sourceMappingURL=main.css.map */