/* --------------------------- COLORS ----------------------------- */

$red: #D76556;
$background-blue: #2D394E;
$dark-blue: #3E6786;
$blue: #81A5C5;
$light-blue: #EAEEF2;
$white: #FFFFFF;

$carousel-brightness: 80%;
$carousel-blur: 1.5px;
$carousel-shadow: 3px 3px 3px rgba(0, 0, 0, .3);

$carousel-brightness-hover: 100%;
$carousel-blur-hover: 0px;
$carousel-shadow-hover: 5px 7px 3px rgba(0, 0, 0, .3);

/* --------------------------- MIXIMS ----------------------------- */

@mixin section($color) {
    height: 100%;
    background-color: $color;
    align-items: center;
}

/* --------------------------- GENERAL ----------------------------- */

* {
    font-family: 'Roboto', sans-serif;

    &:focus {
        outline: 0;
        outline: none;
    }
}

html {
    scroll-behavior: smooth;
}

.color-white {
    a {
        color: white;
    }
}

.color-black {
    a {
        color: black;
    }
}

/* --------------------------- NAVBAR ----------------------------- */

nav {
    h2 {
        padding-left: 10px;
        color: $red;
        font-weight: bold;
    }

    a {
        color: white;
        transition: .3s;

        &:hover {
            color: $red;
        }
    }

    .nav-item {
        padding: 0px 15px 0px 15px;
    }
}

/* --------------------------- HOME ----------------------------- */

#home-background {
    background:url('/images/background.png');
}

#home-page {
    @include section(rgba(45, 57, 78, .90));

    h1 {
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 90px;
        color: $blue;
    }

    h3 {
        font-weight: lighter;
        font-size: 30;
        color: $light-blue;
    }

}


/* --------------------------- ABOUT ME ----------------------------- */

#about-me {
    @include section($dark-blue);
    color: white;

    #portrait {
        width: 25vw;
        filter: drop-shadow(7px 7px 4px $background-blue);
    }

    #signature {
        width: 7vw;
    }
}

/* --------------------------- PROJECTS ----------------------------- */

#projects {
    @include section($light-blue);

    h1 {
        color: black;
    }

    .carousel {
        margin-top: 10px;
        height: 60%;
    }

    .carousel-box {
        position: relative;
        padding: 20px 0 20px 0;
        transition: .5s;

        &:hover .carousel-item {
            filter: blur($carousel-blur-hover) brightness($carousel-brightness-hover);
        }

        &:hover .carousel-header {

            background-color: $blue;
        }

        &:hover .carousel-subheader {
            background-color: $red;
        }

        &:hover {
            filter: drop-shadow($carousel-shadow-hover);
        }
    }

    .carousel-item {
        
        padding: 0 10px 0 10px;
        border-radius: 27px;
        height: 100%;
        object-fit: cover;
        transition: .5s;
        filter: blur($carousel-blur) brightness($carousel-brightness);
    }

    .carousel-text-box {
        color: white;
        position: absolute;
        width: 90%;
        top: 40px;
        left: 5%;
    }

    .carousel-header {
        box-decoration-break: clone;
        padding: 2px 8px 2px 8px;
        border-radius: 25px;
        transition: .5s;
    }

    .carousel-subheader {
        box-decoration-break: clone;
        padding: 3px 10px 3px 10px;
        border-radius: 20px;
        transition: .5s;
    }

/* --------------------------- SLICK CAROUSEL ----------------------------- */

    .slick-dots li {
        button {
            &:before {
                color: $red;
                font-size: 15px;
            }
        }

        &.slick-active button:before {
            color: $red;
        }
    }

    .slick-next, .slick-prev {
        &:before {
            font-size: 40px;
            color: $red;
        }
    }

    .slick-prev {
        left: -90px;
    [dir="rtl"] & {
        left: auto;
        right: -90px;
    }
    }

    .slick-next {
        right: -70px;
        [dir="rtl"] & {
            left: -70px;
            right: auto;
        }
    }

}

/* --------------------------- FEATHERLIGHT MODALS ----------------------------- */

.modal-image {
    width: 100%;
}

.hide-modal {
    display: none;
}

.featherlight-content {
    border-radius: 5px;
}

.featherlight .featherlight-close-icon {
    top: 5px;
    right: 5px;
    font-weight: bolder;
}

/* --------------------------- RESUME ----------------------------- */

#resume {
    @include section($background-blue);
    align-items: flex-start;


    p {
        color: $red;
        font-size: 20px;
        font-weight: thin;
    }

    embed {
        border-radius: 15px;
        width: 80%;
        height: 70%;
    }
}

#resume-text {
    padding-top: 80px;
    padding-left: 80px;
}

/* --------------------------- CONTACT ----------------------------- */

#contact {
    @include section($background-blue);

    color: white;

    a {
        color: white;
    }

}

.icon {
    width: 25px;
    height: 25px;
}